{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Synthetiseur de Texte</title>
    <link rel="icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('input[type="file"]').change(function (e) {
                var fileName = e.target.files[0].name;
                $('label').text(fileName);
            });
        });
    </script>


</head>

<style>
    #description {
        margin-top: 40px;
    }

    #description p {
        margin-top: 10px;
        font-size: 17px;
        color: gray;
    }

    #middle-section {
        margin-top: 40px;
        padding: 10px;
        background-color: aliceblue;
    }

    #nav-home {
        text-align: center;
    }

</style>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        Synthetiseur de Texte
    </a>
</nav>

<div class="container" id="description">
    <div class="row">
        <div class="col-6 mx-auto col-md-4 order-md-2">
            <img height="200px" src="{% static 'homepage.png' %}">
        </div>
        <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
            <h1 class="mb-3">Get Your Lecture Summary Easily</h1>
            <p>
                Synthetiseur de Texte provides you an easy way to convert your lecture video/audio to a summary so it is
                easier for you to refer to it later.
            </p>

        </div>
    </div>

</div>


<div class="container" id="middle-section">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">Overview</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-summary" role="tab"
               aria-controls="nav-profile" aria-selected="false">Generate Summary/Questions</a>
            {#            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-questions" role="tab"#}
            {#               aria-controls="nav-profile" aria-selected="false">Generate Questions</a>#}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% if all_files %}
                <ul class="list-group">
                    {% for media in all_files %}
                        <li class="list-group-item">
                        <a href="{{ media.file.url }}" target="_blank">{{ media.file.name }}</a> | {{ media.unique_id }}
                    {% endfor %}
                </ul>
            {% else %}
                <h3 style="padding: 6px 0 6px 0">You don't have any lectures yet!</h3>
            {% endif %}
            <form method="post" action="" enctype="multipart/form-data">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-success">Upload File!</button>
            </form>
            {% if unique_id %}
                <div>Your Unique ID is <span class="font-weight-bold text-success"
                                             id="unique_id_identifier">{{ unique_id }}</span>
                    <button class="btn" onclick="copyFunction()"><i class="fa fa-clone" title="Copy to clipboard"></i>
                    </button>
                </div>
            {% endif %}
        </div>
        {#        <div class="tab-pane fade" id="nav-questions" role="tabpanel" aria-labelledby="nav-profile-tab">#}
        {#            #}
        {#        </div>#}
        <div class="tab-pane fade" id="nav-summary" role="tabpanel" aria-labelledby="nav-profile-tab">
            <label for="unique_id">Enter your ID associated with your video: </label>
            <input type="text" id="unique_id" name="unique_id" required>
            <button type="submit" id="target" class="btn btn-primary">Summarize and Generate Practice Questions</button>
            <br>
            <div id='loader' style='display: none;'>
                <img src="{% static 'loading.gif' %}" width='32px' height='32px' alt="loader">
            </div>
            <div class="text-danger" id="error_message"></div>
            <div id="generated_summary">Summary will be shown here!</div>
            <div id="generated_questions"></div>
        </div>
    </div>
</div>
<script>
    function copyFunction() {

        let $temp = $("<input>");
        $("body").append($temp);
        $temp.val($("#unique_id_identifier").text()).select();
        document.execCommand("copy");
        $temp.remove();

        alert("ID Copied!");
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $(document).ready(function () {
        $("#target").click(function (e) {
            const csrftoken = getCookie('csrftoken');
            const input_data = {
                "unique_id": $("#unique_id").val(),
            };
            $.ajax({
                type: "POST",
                url: "/dev/run",
                data: input_data,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    $("#loader").show();
                    $("#error_message").html("");
                    $("#generated_summary").html("");
                    $("#generated_questions").html("");
                },

                success: function (data) {
                    if (data["has_error"] === true) {
                        $("#error_message").html(data["error"]);
                    } else {
                        $("#generated_summary").html("<h3>Summary</h3><span class='text-success'>Compression Ratio: <b>" +
                            data["compression_ratio"] + "%</b></span><blockquote>" + data["summary"] + "</blockquote>");
                        console.log(typeof (data["question_list"]));
                        let arr = JSON.parse(data["question_list"]);
                        let questions = "";
                        questions += "<ul>";
                        let index;
                        for (index = 0; index < arr.length; index++) {
                            questions += "<li>" + arr[index] + "</li>";
                        }
                        questions += "</ul>";
                        $("#generated_questions").html("<h3>Question List</h3><blockquote>" + questions + "</blockquote>")
                    }

                },
                complete: function () {
                    $("#loader").hide();
                },
                error: function (jqXHR, exception) {
                    let msg = "";
                    if (jqXHR.status === 0) {
                        msg = 'Not able to connect.\n Verify Network.';
                    } else if (jqXHR.status === 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status === 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    $("#error_message").html(msg);
                },
            });
        });
    });

</script>
</body>

</html>