{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Synthetiseur de Texte</title>
    <link rel="icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('input[type="file"]').change(function (e) {
                var fileName = e.target.files[0].name;
                $('label').text(fileName);
            });
        });
    </script>


</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        Synthetiseur de Texte
    </a>
    <a href="https://github.com/arunav11/Synthetiseur_de_texte/" target="_blank">
        <img height="30px" src="{% static 'icons8-github-144.png' %}" alt="github_logo"> </a>
</nav>

{% if unique_id %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Your file upload was successful. </strong>
        Your Unique ID is <strong id="unique_id_identifier">{{ unique_id }}</strong>
        <button class="btn" onclick="copyFunction()"><i class="fa fa-clone" title="Copy to clipboard"></i>
        </button>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<div class="container" id="description">
    <div class="row">
        <div class="col-6 mx-auto col-md-4 order-md-2">
            <img height="200px" src="{% static 'homepage.png' %}" alt="logo">
        </div>
        <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
            <h1 class="mb-3">Get Your Lecture Summary Easily</h1>
            <p>
                Synthetiseur de Texte provides you an easy way to convert your lecture video/audio to a summary so it is
                easier for you to refer to it later.
            </p>
            <p><strong>BUILD WITH SERVERLESS | SKILLENZA</strong></p>

        </div>
    </div>

</div>


<div class="container" id="middle-section">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">Upload Media/Lecture</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-summary" role="tab"
               aria-controls="nav-summary" aria-selected="false">Generate Summary/Questions</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-youtube" role="tab"
               aria-controls="nav-youtube" aria-selected="false">From Youtube Link</a>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% if all_files %}
                <ul class="list-group">
                    {% for media in all_files %}
                        <li class="list-group-item">
                        <a href="{{ media.file.url }}" target="_blank">{{ media.file.name }}</a> | {{ media.unique_id }}
                    {% endfor %}
                </ul>
            {% else %}
                <h4 style="padding: 6px 0 6px 0">You don't have any lectures yet! Upload one to get started.</h4>
            {% endif %}

            <div class="card text-white bg-info" style="margin: 25px">
                <div class="card-header">Constraints regarding file upload</div>
                <div class="card-body">
                    <p class="card-text">File should be in <span class="text-warning"><b>MP4 or WAV</b></span> format
                        and
                        Size must be less than
                        <span class="text-warning"><b>4 MB</b></span></p>
                </div>
            </div>
            <form id="file_upload" method="post" action="" enctype="multipart/form-data" name="file_upload"
                  onsubmit="return fileSizeCheck()">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-success">Upload File!</button>

                <div class="progress" id="progress_bar" style="display:none">
                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>

                </div>

                <p id="upload-msg" style="display: none"> Upload in Progress . . . . </p>

            </form>

        </div>
        <div class="tab-pane fade" id="nav-summary" role="tabpanel" aria-labelledby="nav-profile-tab">
            <label for="unique_id">Enter your ID associated with your video: </label>
            <input class="form-control short" type="text" id="unique_id" name="unique_id" required>
            <button type="submit" id="target" class="btn btn-primary">Summarize and Generate Practice Questions</button>
            <br>
            <div class="progress" id="progress_bar_summary" style="display: none">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

            <div id="upload-msg-summary" style="display: none">
                <p>
                    Please wait while we are processing your file . . . .
                </p>
            </div>

            <div class="text-danger" id="error_message"></div>
            <div class="row">
                <div class="col-md">
                    <div id="generated_summary"></div>
                </div>
                <div class="col-md">
                    <div id="generated_original"></div>
                </div>
            </div>

            <hr id="break" style="display: none;">
            <div id="generated_questions"></div>
        </div>
        <div class="tab-pane fade" id="nav-youtube" role="tabpanel" aria-labelledby="nav-profile-tab">
            <label for="youtube_link">Enter a valid Youtube Link: </label>
            <input class="form-control short" type="url" id="youtube_link" name="youtube_link" required>
            <button type="submit" id="target_yt" class="btn btn-primary">Submit and process</button>
            <br>

            <div class="progress" id="progress_bar_summary_yt" style="display: none">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

            <div id="upload-msg-summary_yt" style="display: none">
                <p>
                    Please wait while we are processing your Link . . . .
                </p>
            </div>

            <div class="text-danger" id="error_message_yt"></div>
            <div class="row">
                <div class="col-md">
                    <div id="generated_summary_yt"></div>
                </div>
                <div class="col-md">
                    <div id="generated_original_yt"></div>
                </div>

            </div>

            <hr id="break_yt" style="display: none;">
            <div id="generated_questions_yt"></div>
        </div>
    </div>
</div>

<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-4">
                <strong> Synthetiseur de Texte </strong>
                <small class="d-block mb-3 text-muted">© 2020</small>
            </div>
            <div class="col-4">
                <h5>Team</h5>
                <ul class="list-unstyled text-small">
                    <li><span><a href="https://github.com/arunav11">Arunav Sharma</a></span></li>
                    <li><span><a href="https://github.com/deepaktiwari88">Deepak Tiwari</a></span></li>
                    <li><span><a href="https://github.com/MadhavPruthi">Madhav Pruthi</a></span></li>
                </ul>
            </div>
            <div class="col-4">
                <h5>Technologies</h5>
                <ul class="list-unstyled text-small">
                    <li><span>Django</span></li>
                    <li><span>Bootstrap</span></li>
                    <li><span>AWS Services</span></li>
                </ul>
            </div>
        </div>
    </footer>


    <script>

        $(document).on('submit', '#file_upload', function (e) {
            let oFile = document.forms["file_upload"]["file"].files[0];
            if (oFile.size <= 4194304) {
                var progress_bar = document.getElementById('progress_bar');
                var upload_msg = document.getElementById('upload-msg');
                progress_bar.setAttribute('style', 'display: flex');
                upload_msg.setAttribute('style', 'display: block');
            }
        });

        function fileSizeCheck() {
            let oFile = document.forms["file_upload"]["file"].files[0];
            if (oFile.size > 4194304) {
                alert("File size must under 4MB! (Currently: " + (oFile.size / 1024 / 1024).toFixed(2) + " MB)");
                return false;
            }
            return true;
        }

        function copyFunction() {

            let $temp = $("<input>");
            $("body").append($temp);
            $temp.val($("#unique_id_identifier").text()).select();
            document.execCommand("copy");
            $temp.remove();

            alert("ID Copied!");
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let summary, original, summ_on_yt, summ_off_yt;

        $(document).ready(function () {
            $("#target").click(function (e) {
                const csrftoken = getCookie('csrftoken');
                const input_data = {
                    "unique_id": $("#unique_id").val(),
                };
                $.ajax({
                    type: "POST",
                    url: "/dev/run",
                    data: input_data,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        $("#progress_bar_summary").attr('style', 'display: flex');
                        $("#upload-msg-summary").attr('style', 'display: block');
                        $("#error_message").html("");
                        $("#generated_summary").html("");
                        $("#generated_original").html("");
                        $("#generated_questions").html("");
                    },
                    success: function (data) {
                        if (data["has_error"] === true) {
                            $("#error_message").html(data["error"]);
                        } else {

                            summary = "<div class='card'> " +
                                "<div class='card-header'> " +
                                "<b>Summary</b> </div> " +
                                "<div class='card-body text-success'> " +
                                "<h5 class='card-title'> Compression Ratio: <b>" + data["compression_ratio"] + "%</b></h5>" +
                                "<p class='card-text'>" + data["summary"] + "</p>" +
                                "</div>" +
                                "</div>";

                            original = "<div class='card'> " +
                                "<div class='card-header'> " +
                                "<b>Original</b> </div> " +
                                "<div class='card-body'> " +
                                "<p class='card-text text-primary'>" + data["original_text"] + "</p>" +
                                "</div>" +
                                "</div>"


                            $("#generated_summary").html(summary);
                            $("#generated_original").html(original);

                            $("#break").attr('style', 'display: block');

                            let arr = JSON.parse(data["question_list"]);
                            let questions = "";
                            questions += "<ul>";
                            let index;
                            for (index = 0; index < arr.length; index++) {
                                questions += "<li>" + arr[index] + "</li>";
                            }
                            questions += "</ul>";
                            $("#generated_questions").html("<div class='card'>" +
                                "<div class='card-header'>" +
                                "<b>Questions</b> </div>" +
                                "<div class='card-body text-info'>" +
                                "<blockquote>" + questions + "</blockquote>" + "</div></div></div>");
                        }

                    },
                    complete: function () {
                        $("#progress_bar_summary").attr('style', 'display: none');
                        $("#upload-msg-summary").attr('style', 'display: none');
                    },
                    error: function (jqXHR, exception) {
                        let msg = "";
                        if (jqXHR.status === 0) {
                            msg = 'Not able to connect.\n Verify Network.';
                        } else if (jqXHR.status === 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status === 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Connection Timed out! Please try with same ID after two minutes.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        $("#error_message").html(msg);
                    },
                });
            });

            /* AJAX for youtube link */
            $("#target_yt").click(function (e) {
                const csrftoken = getCookie('csrftoken');
                const input_data = {
                    "youtube_link": $("#youtube_link").val(),
                };
                $.ajax({
                    type: "POST",
                    url: "/dev/run_youtube",
                    data: input_data,

                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        $("#progress_bar_summary_yt").attr('style', 'display: flex');
                        $("#upload-msg-summary_yt").attr('style', 'display: block');
                        $("#error_message_yt").html("");
                        $("#generated_summary_yt").html("");
                        $("#generated_original_yt").html("");
                        $("#generated_questions_yt").html("");
                    },
                    success: function (data) {
                        if (data["has_error"] === true) {
                            $("#error_message_yt").html(data["error"]);
                        } else {

                            summ_on_yt = "<div class='card'> " +
                                "<div class='card-header'> " +
                                "<b>Summary</b> </div> " +
                                "<div class='card-body text-success'> " +
                                "<h5 class='card-title'> Compression Ratio: <b>" + data["compression_ratio"] + "%</b></h5>" +
                                "<p class='card-text'>" + data["summary"] + "</p>" +
                                "</div>" +
                                "</div>";

                            summ_off_yt = "<div class='card'> " +
                                "<div class='card-header'> " +
                                "<b>Original</b> </div> " +
                                "<div class='card-body'> " +
                                "<p class='card-text text-primary'>" + data["original_text"] + "</p>" +
                                "</div>" +
                                "</div>"


                            $("#generated_summary_yt").html(summ_on_yt);
                            $("#generated_original_yt").html(summ_off_yt);

                            $("#break_yt").attr('style', 'display: block');

                            let arr = JSON.parse(data["question_list"]);
                            let questions = "";
                            questions += "<ul>";
                            let index;
                            for (index = 0; index < arr.length; index++) {
                                questions += "<li>" + arr[index] + "</li>";
                            }
                            questions += "</ul>";
                            $("#generated_questions_yt").html("<div class='card'>" +
                                "<div class='card-header'>" +
                                "<b>Questions</b> </div>" +
                                "<div class='card-body text-info'>" +
                                "<blockquote>" + questions + "</blockquote>" + "</div></div></div>");
                        }

                    },
                    complete: function () {
                        $("#progress_bar_summary_yt").attr('style', 'display: none');
                        $("#upload-msg-summary_yt").attr('style', 'display: none');
                    },
                    error: function (jqXHR, exception) {
                        let msg = "";
                        if (jqXHR.status === 0) {
                            msg = 'Not able to connect.\n Verify Network.';
                        } else if (jqXHR.status === 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status === 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Request timed out! Please try with smaller duration video.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        $("#error_message_yt").html(msg);
                    },

                });
            });

        });
    </script>
</body>

</html>
