*,
*:before,
*:after {
    box-sizing: border-box;
}

$lightGrey: #c5c7c945;
$grey: #999999;
$darkGrey: #434343;

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
body,html{
  margin: 0;
  padding: 0;
}

.header-title-bar {
    height: 8.125rem;
    background-color: $lightGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: $darkGrey;
    text-align: center;
}

.advantages-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .advantage-block {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 1em;

        &__img-container {
            width: 4.5em;
            height: 2.125em;
            border: 2px solid $grey;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5em;
            margin-right: 1em;
            color: $grey;
            p {
                font-weight: 700;
                font-size: 1.3rem;
            }
        }

        &__text-container {
            &__title {
                font-size: 1.2rem;
                font-weight: 700;
                padding-bottom: 0.3em;
            }

            &__content {
                line-height: 1.5em;
                max-width: 16em;
                font-size: 0.9rem;
            }
        }
    }
}


.upload {
    width: 90%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em auto;
    margin-bottom: 1em;
    padding: 2em;
    color: $darkGrey;
    cursor: pointer;

    svg {
        width: 15em;
        transition: all 0.4s ease;

        path {
            transition: all 0.4s ease;
        }
    }

    .cloud-img {
        padding-top: 3em;
    }

    input {
        display: none;
    }

    border: 0.1875em dashed $lightGrey;

    .img-title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5em;
        position: relative;

        span.clarify {
            display: block;
            color: $grey;
            font-size: 1rem;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(101%);
        }
    }

    .blue {
        color: #3588b9;
        text-decoration: none;
        cursor: pointer;
    }

    .img-subtitle {
        color: $grey;
    }

    &.highlight {
        border-color: salmon;

        svg {
            path {
                fill: #209957;
            }

            transform: scale(1.1);
        }
    }

}

.d-none {
    display: none;
}

.btn {
    height: 40px;
    border-radius: 8px;
    padding: 0 16px;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
    background-color: #209957;
    position: relative;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2em;
}

.btn:disabled {
    opacity: 0.6;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 80%;
    margin: 1em auto;
}