#description {
    margin-top: 40px;
}

#description p {
    margin-top: 10px;
    font-size: 17px;
    color: gray;
}

#middle-section {
    margin-top: 40px;
    padding: 10px;
    background-color: aliceblue;
}

#nav-home {
    text-align: center;
    padding-bottom: 20px;
}

input {
    padding-top: 10px;
}

#nav-tabContent {
    margin-top: 10px;
}

#progress_bar {
    margin: 20px 30px 0px 30px;
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

#upload-msg {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

.alert {
    text-align: center;
}


#progress_bar_summary, #progress_bar_summary_yt {
    margin: 20px 30px 0px 30px;
}

#target, #target_yt {
    margin-top: 10px;
    margin-bottom: 10px;
}

#error_message, #error_message_yt {
    margin-top: 10px;
}

#upload-msg-summary, #upload-msg-summary_yt {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}